*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

  body{
    font-family: 'Poppins', sans-serif;
  }

  .btr{
  
    border-top-right-radius: 5px !important;
  }
  
  
  .btl{
  
    border-top-left-radius: 5px !important;
  }
  
  .btn-dark {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }
  
  
  .btn-dark:hover {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }
  
  
  .nav-pills{
  
    display:table !important;
    width:100%;
  }
  
  .nav-pills .nav-link {
      border-radius: 0px;
          border-bottom: 1px solid #0d6efd40;
  
  }
  
  .nav-item{
        display: table-cell;

  }

    /* Formulaire */
    
    .box {
        width: 500px;
        padding: 40px;
        position: absolute;
        left: 5%;
        background: linear-gradient(to right, #dc2424, #4a569d);
        text-align: center;
        transition: 0.25s;
        margin-top: 160px;
        border-radius: 30px;
    }
    
    .box input[type="text"],
    .box input[type="password"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #5c6aff;
        padding: 10px 10px;
        width: 250px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }
    
    .box h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    .box input[type="text"]:focus,
    .box input[type="password"]:focus {
        width: 300px;
        border-color: #ffffff;
    }
    
    .box input[type="submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #ff6a6a;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }
    
    .box input[type="submit"]:hover {
        background: linear-gradient(to right, #dc2424, #4a569d);
    }
    
    .forgot {
        text-decoration: underline;
    }

    .car{
        margin-top: 120px;
        width: 500px;
        margin-left: 24%;
    }
    
    .card{
        background: linear-gradient(to right, #dc2424, #4a569d);
        border-radius: 30px;
        margin-top: 80px;
    }
  
    .wave{
        position: fixed;
        bottom: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
    
    .logo{
        width: 100px;
        margin-bottom: 20px;
    }

    .text-muted{
        color: #fff !important;
    }
    
    /* Formulaire Fin */
    
    .logo2{
        width: 65px;
        margin-top: 5px;
    }

    button#menu1{
        background-color: transparent;    
        margin-left: 6%;
        color: white;
    }

    .dropdown{
        margin-top: 10px;
        padding-left: 53%;
    }
    
    .text-center {
        margin-top: 15px;
    }

    h6#mail{
        margin-left: 89px;
        margin-top: 2px;
        color: #fff;
    }

    h6#np{
        margin-left: 16px;
        margin-top: 2px;
        color: #fff;   
    }

    h6.mb-0 {
        margin-left: 68px;
        margin-top: 2px;
        color: #fff;
    }

    hr{
        border: 0.5px solid white;
    }

    p#NP{
        margin-left: 72px;
    }

    p#NP2{
        margin-left: 59px;
    }

    p#NP2{
        margin-left: 59px;
    }

    p#NP3{
        margin-left: 89px;
    }

    div#\32 {
        margin-top: 5%;
    }

    p.pmodal {
        font-size: 15px;
        font-weight: 700;
    }

    p.matricule {
        margin-top: 10px;
    }
    
    p.nb_personne {
        margin-top: 10px;
    }
    
    /* responsive */

    @media screen and (max-width: 1050px){
        .container{
            grid-gap: 5rem;
        }
    }
    
    @media screen and (max-width: 1000px){
        form{
            width: 290px;
        }
    
        .login-content h2{
            font-size: 2.4rem;
            margin: 8px 0;
        }
    
        .img img{
            width: 400px;
        }
    }

        input.mat {
            margin-top: 2%;
        }
    
        h4.txtmat {
            font-size: 17px;
            margin-top: 14%;
            font-weight: 600;
            color: #5c5c5f;
        }

        input:invalid {
            border: red solid 3px;
        }
    
        h4.txtmat {
            font-size: 17px;
            margin-top: 14%;
            font-weight: 600;
            color: #5c5c5f;
        }        

        input#mat:invalid {
            border: red solid 3px;
        }
    
    @media screen and (max-width: 900px){
        .container{
            grid-template-columns: 1fr;
        }
    
        .img{
            display: none;
        }
    
        .wave{
            display: none;
        }
    
        .login-content{
            justify-content: center;
        }
    
    }

    a {
        color: #92badd;
        display:inline-block;
        text-decoration: none;
        font-weight: 400;
      }
      
      h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display:inline-block;
        margin: 40px 8px 10px 8px; 
        color: #cccccc;
      }
      
      
      
      /* STRUCTURE */
      
      .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
      }
      
      #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;
      }
      
      #formFooter {
        background-color: #f6f6f6;
        border-top: 1px solid #dce8f1;
        padding: 25px;
        text-align: center;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
      }
      
      
      
      /* TABS */
      
      h2.inactive {
        color: #cccccc;
      }
      
      h2.active {
        color: #0d0d0d;
        border-bottom: 2px solid #5fbae9;
      }
      
      
      
      /* FORM TYPOGRAPHY*/
      
      input[type=button], input[type=submit], input[type=reset]  {
        background-color: #56baed;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
      input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
        background-color: #39ace7;
      }
      
      input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
      }
      
      input[type=text] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
      }
      
      input[type=text]:focus {
        background-color: #fff;
        border-bottom: 2px solid #5fbae9;
      }
      
      input[type=text]:placeholder {
        color: #cccccc;
      }
      
      
      
      /* ANIMATIONS */
      
      /* Simple CSS3 Fade-in-down Animation */
      .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      
      @-webkit-keyframes fadeInDown {
        0% {
          opacity: 0;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
        100% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      
      @keyframes fadeInDown {
        0% {
          opacity: 0;
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
        }
        100% {
          opacity: 1;
          -webkit-transform: none;
          transform: none;
        }
      }
      
      /* Simple CSS3 Fade-in Animation */
      @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
      @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
      @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
      
      .fadeIn {
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
      
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
      
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        animation-duration:1s;
      }
      
      .fadeIn.first {
        -webkit-animation-delay: 0.4s;
        -moz-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }
      
      .fadeIn.second {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }
      
      .fadeIn.third {
        -webkit-animation-delay: 0.8s;
        -moz-animation-delay: 0.8s;
        animation-delay: 0.8s;
      }
      
      .fadeIn.fourth {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        animation-delay: 1s;
      }
      
      /* Simple CSS3 Fade-in Animation */
      .underlineHover:after {
        display: block;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: #56baed;
        content: "";
        transition: width 0.2s;
      }
      
      .underlineHover:hover {
        color: #0d0d0d;
      }
      
      .underlineHover:hover:after{
        width: 100%;
      }
      
      
      
      /* OTHERS */
      
      *:focus {
          outline: none;
      } 
      
      #icon {
        width:60%;
      }
      